<a href="https://colab.research.google.com/github/wtfashwin/Python-/blob/main/Assignments_1_6_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment 1

1. Arithmetic Operators
ðŸ’¡ Objective: Get familiar with basic calculations in Python
ðŸ“Œ Exercise: Write a Python program that:
Takes two numbers as input from the user.
Prints their sum, difference, product, and quotient.

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
diff = num1 - num2
pro = num1 * num2

print(f"Sum of your entered number is : {sum}", end='\n')
print(f"Difference of your entered number is : {diff}", end='\n')
print(f"Product of your entered number is : {pro}", end='\n')

if num2 != 0:
    quo = num1 / num2
    print(f"Quotient of your entered number is : {quo}", end='\n')
else:
    print("You're performing division by zero.", end='\n')

Enter first number: 13
Enter second number: 19
Sum of your entered number is : 32.0
Difference of your entered number is : -6.0
Product of your entered number is : 247.0
Quotient of your entered number is : 0.6842105263157895

2. Comparison Operators
ðŸ’¡ Objective: Understand how comparison works in Python
ðŸ“Œ Exercise: Write a Python program that:
Takes two numbers as input.
Compares them using >, <, ==, and != operators.
Prints whether the first number is greater than, less than, or equal to the second.

In [ ]:
n1 = float(input("Enter first number: "))
n2 = float(input("Enter second number: "))

if n1 > n2:
    print(f"{n1} is greater than {n2}")
elif n1 < n2:
    print(f"{n1} is less than {n2}")
elif n1 != n2:
    print(f"{n1} is not equal to {n2}")
else:
    print(f"{n1} is equal to {n2}")

Enter first number: 6
Enter second number: 6
6.0 is equal to 6.0

3. Logical Operators
ðŸ’¡ Objective: Understand and, or, not operators
ðŸ“Œ Exercise: Write a Python program that:
Defines two variables:
homework_completed = "Yes"
attended_class = "Yes"
Uses the and operator to determine if both conditions are met.
Prints the result using a single expression.

In [ ]:
homework_completed = "Yes"
attended_class = "Yes"

print(homework_completed == "Yes" and attended_class == "Yes")

True

4. Assignment Operators
ðŸ’¡ Objective: Get comfortable with +=, -=, *=, etc.
ðŸ“Œ Exercise: Write a Python program that:
Starts with x = 10
Uses +=, -=, *=, and /= operators to modify x.
Prints the updated values.

In [ ]:
x = 10
print(f"Initial value of x: {x}")

x += 5
print(f"Value of x after x += 5: {x}")

x -= 3
print(f"Value of x after x -= 3: {x}")

x *= 2
print(f"Value of x after x *= 2: {x}")

x /= 4
print(f"Value of x after x /= 4: {x}")

Initial value of x: 10
Value of x after x += 5: 15
Value of x after x -= 3: 12
Value of x after x *= 2: 24
Value of x after x /= 4: 6.0

5. Bitwise Operators (For Curious Students (This part is optional))
ðŸ’¡ Objective: Introduce bitwise operations in a simple way
ðŸ“Œ Exercise: Write a Python program that:
Takes an integer from the user.
Uses bitwise & and | to compare it with another number.
Prints the results.

In [ ]:
#Bitwise Operations

num1 = int(input("Enter number: "))
num2 = 5

# & operator
resi = num1 & num2
print(f"AND result: {resi}")

#  or
resu = num1 | num2
print(f"OR result: {resu}")

Enter number: 6
AND result: 4
OR result: 7

## Assignment 2

1. Create three integer variables: a, b, c. Store any whole numbers in them. Print their sum and product.

In [ ]:
a = 13
b = 29
c = 19

# Calculate the sum
sum_result = a + b + c

# Calculate the product
product_result = a * b * c

# Print the sum and product
print(f"Numbers: a={a}\n b={b}\n c={c}")
print(f"Sum: {sum_result}")
print(f"Product: {product_result}")

Numbers: a=13
 b=29
 c=19
Sum: 61
Product: 7163

Define an integer num. Check if it is even or odd and print the result.

In [ ]:
num = float(input('Enter a number:' ))
if num % 2 == 0:
    print(f"{num} You entered an even number.")
else:
    print(f"{num} which you entered is an odd number.")

Enter a number:19
19.0 which you entered is an odd number.

3. Create two float variables: x, y. Store any decimal values. Print their difference and quotient.

In [ ]:
x = 15.0
y = 3.0

# Calculating difference
diff = x - y

# Calculate the quotient
quot = x / y

# Print the output
print(f"Numbers: x = {x}, y = {y}")
print(f"Difference : {diff}")
print(f"Quotient : {quot}")

Numbers: x = 15.0, y = 3.0
Difference : 12.0
Quotient : 5.0

4. Define a float variable temp representing temperature in Celsius. Convert it to Fahrenheit using the formula F = (C * 9/5) + 32 and print the result.

In [ ]:
cel = 25.0

# F = (C * 9/5) + 32
fahren = (cel * 9/5) + 32

print(f"Temperature in Celsius: {cel} degree C")
print(f"Temperature in Fahrenheit: {fahren} degree F")

Temperature in Celsius: 25.0 degree C
Temperature in Fahrenheit: 77.0 degree F

Create two complex numbers: c1, c2. Perform addition and multiplication on them. Print the results.

In [ ]:
c1 = 2 + 6j
c2 = 3 - 9j

# Perform addition
sumx = c1 + c2
print(f"\nSum of complex no: {sumx}")

prod = c1 * c2
print(f"Product of complex no: {prod}")

Sum of complex no: (5-3j)
Product of complex no: (60+0j)

Extract and print the real and imaginary parts of a complex number c = 4 + 5j.

In [ ]:
c = 4 + 5j
print(f"\nComplex number c: {c}")
print(f"Real part of c: {c.real}")
print(f"Imaginary part of c: {c.imag}")

Complex number c: (4+5j)
Real part of c: 4.0
Imaginary part of c: 5.0

Create three boolean variables using comparison operators (>, <, ==). Print the results.

In [ ]:
num1 = 10
num2 = 20
num3 = 30

great = num1 > num2
less = num1 < num2
equal = num1 == num3

print(great)
print(less)
print(equal)

False
True
False

Create a boolean variable that checks if a number x = 25 is divisible by 5. Print the result.

In [ ]:
x = 25
div = (x % 5 == 0)
print(div)

True

Create two string variables: first_name and last_name. Concatenate them and print the full name.

In [ ]:
first_name = "Ash"
last_name = "win"
fname = first_name + " " + last_name
print(fname)

Ash win

Define a string "Python Programming". Use slicing to print:
First 6 characters
Last 5 characters
Every second character

In [ ]:
mystr = "Python Programming"
print(mystr[:6])
print(mystr[-5:])
print(mystr[::2])

Python
mming
Pto rgamn

In [ ]:
stri = "Hello World"

uppercase = stri.upper()
print(f"Uppercase: {uppercase}")

# Convert to lowercase
lowercase = stri.lower()
print(f"Lowercase: {lowercase}")

length = len(stri)
print(f"Length: {length}")

Uppercase: HELLO WORLD
Lowercase: hello world
Length: 11

Define a string "racecar". Check if it's a palindrome (reads the same forward and backward).

In [ ]:
pal = "racecar"
if pal == pal[::-1]:
    print(f"\n'{pal}' is a palindrome.")
else:
    print(f"\n'{pal}' is not a palindrome.")

'racecar' is a palindrome.

Create a list of your favorite movies (at least 3). Add a new movie to the list and print the updated list.

In [ ]:
favorite_movies = [" Godfather 1 ", " Godfather 2", " Godfather 3",  "Interstellar"]
print(f"Original list: {favorite_movies}")
favorite_movies.append("Ironman")
print(f"Updated list: {favorite_movies}")

Original list: [' Godfather 1 ', ' Godfather 2', ' Godfather 3', 'Interstellar']
Updated list: [' Godfather 1 ', ' Godfather 2', ' Godfather 3', 'Interstellar', 'Ironman']

Define a list numbers = [10, 20, 30, 40, 50]. Remove the number 30 and print the updated list.

In [ ]:
num = [10, 20, 30, 40, 50]
print(f"Original list: {num}")
num.remove(30)
print(f"Updated list : {num}")

Original list: [10, 20, 30, 40, 50]
Updated list : [10, 20, 40, 50]

Define a list with duplicate values [1, 2, 2, 3, 4, 4, 5]. Remove duplicates using a set and print the unique elements.

In [ ]:
n = [1, 2, 2, 3, 4, 4, 5]
print(f"Original list : {n}")
uniq = set(n)
print(f"Unique elements (set): {uniq}")

Original list : [1, 2, 2, 3, 4, 4, 5]
Unique elements (set): {1, 2, 3, 4, 5}

In [ ]:
# .sort()
n1 = [45, 12, 78, 23, 9]
print(f"Original: {n1}")
n1.sort()
print(f"Ascending: {n1}")

n1_desc = [45, 12, 78, 23, 9]
n1_desc.sort(reverse=True)
print(f"Descending: {n1_desc}")

# sorted()
n2 = [45, 12, 78, 23, 9]
print(f"\nOriginal: {n2}")
asc_sorted = sorted(n2)
print(f"Ascending: {asc_sorted}")

desc_sorted = sorted(n2, reverse=True)
print(f"Descending: {desc_sorted}")

Original: [45, 12, 78, 23, 9]
Ascending: [9, 12, 23, 45, 78]
Descending: [78, 45, 23, 12, 9]

Original: [45, 12, 78, 23, 9]
Ascending: [9, 12, 23, 45, 78]
Descending: [78, 45, 23, 12, 9]

Create a tuple with 4 different fruits. Try to change one item in the tuple and observe what happens.

In [ ]:
fruits = ("apple", "banana", "cherry", "date")
print(f"Original tuple: {fruits}")
#tuples are immutable

Original tuple: ('apple', 'banana', 'cherry', 'date')

Create a tuple of numbers (5, 10, 15, 20). Print the sum and maximum number from the tuple.

In [ ]:
no = (5, 10, 15, 20)
print(f"Numbers tuple: {no}")

total_sum = 0
for number in no:
    total_sum += number
print(f"Sum of numbers: {total_sum}")

highest_num = no[0]
for number in no:
    if number > highest_num:
        highest_num = number
print(f"Maximum number: {highest_num}")

Numbers tuple: (5, 10, 15, 20)
Sum of numbers: 50
Maximum number: 20

Create two sets, A and B, with at least 4 numbers each. Find their union and intersection. Print the results.

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(f"Set A: {A}")
print(f"Set B: {B}")

union_set = A.union(B)
print(f"\nUnion of A and B: {union_set}")

intersection_set = A.intersection(B)
print(f"Intersection of A and B: {intersection_set}")

Set A: {1, 2, 3, 4, 5}
Set B: {4, 5, 6, 7, 8}

Union of A and B: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of A and B: {4, 5}

Define a set {3, 5, 7, 9}. Add a new number to the set and print the updated set.

In [ ]:
my_set = {3, 5, 7, 9}
print(f"\nOriginal set: {my_set}")
my_set.add(13)

print(f"Updated set : {my_set}")

Original set: {9, 3, 5, 7}
Updated set : {3, 5, 7, 9, 13}

Create a list with duplicate elements and convert it into a set to remove duplicates. Print the unique elements.

In [ ]:
li = [10, 20, 10, 30, 40, 20, 50]
print(f"\nOriginal : {li}")

uni = set(li)
print(f"Unique elements are: {uni}")

Original : [10, 20, 10, 30, 40, 20, 50]
Unique elements are: {40, 10, 50, 20, 30}

Create a dictionary with your name, age, and favorite subject. Print each value separately.

In [ ]:
info = {
    "name": "Ashwin",
    "age": 21,
    "favorite_subject": "Math"}

print(f"Name: {info['name']}")
print(f"Age: {info['age']}")
print(f"Favorite Subject: {info['favorite_subject']}")

Name: Ashwin
Age: 21
Favorite Subject: Math

Create a dictionary with fruit prices ("Apple": 100, "Banana": 40, "Mango": 80). Update the price of "Mango" and add "Grapes" with price 120.

In [ ]:

prices = {
    "Apple": 100,
    "Banana": 40,
    "Mango": 80
}
print(f"Original prices: {prices}")

prices["Mango"] = 90
print(f"After updating Mango: {prices}")

prices["Grapes"] = 120
print(f"After adding Grapes: {prices}")

Original prices: {'Apple': 100, 'Banana': 40, 'Mango': 80}
After updating Mango: {'Apple': 100, 'Banana': 40, 'Mango': 90}
After adding Grapes: {'Apple': 100, 'Banana': 40, 'Mango': 90, 'Grapes': 120}

Define a dictionary with 3 students' names as keys and their marks as values. Print only the student names.

In [ ]:
marks = {
    "A": 89,
    "B": 97,
    "C": 49
}
print(f"\nStudent marks : {marks}")

# Print only the student names (keys)
print("Student names:")
for student_name in marks.keys():
    print(student_name)

Student marks : {'A': 89, 'B': 97, 'C': 49}
Student names:
A
B
C

Given a string "The quick brown fox jumps over the lazy dog", count the number of words in it.

In [ ]:
s = "The quick brown fox jumps over the lazy dog"
words = s.split()
wc = len(words)
print(f"The s: '{s}'")
print(f"Number of words: {wc}")

The s: 'The quick brown fox jumps over the lazy dog'
Number of words: 9

Write a Python program to reverse a list without using .reverse().

In [ ]:
l1 = [1, 2, 3, 4, 5]
print(f"List: {l1}")

#Using slicing [::-1]
revr = l1[::-1]
print(f"Reversed list is: {revr}")

# using loop
rev = []
for i in range(len(l1) - 1, -1, -1):
    rev.append(l1[i])
print(f"Reversed list : {rev}")

List: [1, 2, 3, 4, 5]
Reversed list is: [5, 4, 3, 2, 1]
Reversed list : [5, 4, 3, 2, 1]

In [ ]:
l1 = [4, 2, 8, 4, 6, 4, 9, 2, 4]
print(f"List: {l1}")

ct = {}
for item in l1:
    ct[item] = ct.get(item, 0) + 1

most_frequent_item = None
max_count = 0

for item, count in ct.items():
    if count > max_count:
        max_count = count
        most_frequent_item = item

print(f"The most frequent element is: {most_frequent_item}")

List: [4, 2, 8, 4, 6, 4, 9, 2, 4]
The most frequent element is: 4

Given a dictionary of student marks { "John": 85, "Alice": 92, "Bob": 78 }, find and print the student with the highest marks.

In [ ]:
marks = {
    "John": 85,
    "Alice": 92,
    "Bob": 78,
}
print(f"Student Marks: {marks}")

maxi = 0
top_student = ""

for student_name, mark in marks.items():
    if mark > maxi:
        maxi = mark
        top_student = student_name

print(f"\nStudent with the highest marks: {top_student} ")

Student Marks: {'John': 85, 'Alice': 92, 'Bob': 78}

Student with the highest marks: Alice

## Assignment 3
# Assignment on Input/Output and Flow Control in Python

Write a Python program that asks the user for two numbers, performs basic arithmetic operations (addition, subtraction, multiplication, division), and neatly displays the results.

Example Output:
Enter first number: 10
Enter second number: 5
Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

add = num1 + num2
sub = num1 - num2
mul = num1 * num2

if num2 != 0:
    div = num1 / num2
else:
    div = "Cannot divide by zero"

print(f"Addition is : {add}")
print(f"Subtraction is : {sub}")
print(f"Multiplication is: {mul}")
print(f"Division is: {div}")

Enter first number: 10
Enter second number: 5
Addition is : 15.0
Subtraction is : 5.0
Multiplication is: 50.0
Division is: 2.0

Question 2:
Create a Python script that prompts the user to enter their birth year and calculates their current age based on the current year.
Example Output:
Enter your birth year: 1990
You are 34 years old.

In [ ]:
import datetime
current_year = datetime.datetime.now().year
birth_year = int(input("Enter your birth year: "))
age = current_year - birth_year
print(f"You are {age} years old.")

Enter your birth year: 2003
You are 22 years old.

In [ ]:
print("Prime numbers between 1 and 50 are:")

for num in range(2, 51):
    is_prime = True

    for i in range(2, num):
        if (num % i) == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=" ")
print()

Prime numbers between 1 and 50 are:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

Write a Python script that takes user input repeatedly until the user types 'exit'. Each input should be printed back to the user prefixed with "You entered: ".

Example Output:
Enter something (type 'exit' to stop): Hello
You entered: Hello
Enter something (type 'exit' to stop): World
You entered: World
Enter something (type 'exit' to stop): exit

In [ ]:
while True:
    user_input = input("Enter something (type 'exit' to stop): ")

    if user_input.lower() == 'exit':
        break
    print(f"You entered: {user_input}")

Enter something (type 'exit' to stop): 4
You entered: 4
Enter something (type 'exit' to stop): 23
You entered: 23
Enter something (type 'exit' to stop): 24
You entered: 24
Enter something (type 'exit' to stop): exit

Design a Python program that reads a string from the user and counts how many vowels are present in that string. Display the count and the vowels found.

Example Output:
Enter a string: Python Programming
Vowels found: o, o, a, i
Total vowels: 4

In [ ]:
user_text = input("Enter a string: ")
all_vowels = "aeiouAEIOU"
vowels = 0
found = []

for i in user_text:
    if i in all_vowels:
        vowels += 1
        found.append(i)

print(f"Vowels found: {', '.join(found)}")
print(f"Total vowels: {vowels}")

Enter a string: Ashwin
Vowels found: A, i
Total vowels: 2

Write a Python program to create a simple login system. The program should ask for a username and password and keep prompting until the correct credentials (hardcoded) are provided.

Example Output:
Enter username: user
Enter password: pass
Incorrect, try again.
Enter username: admin
Enter password: admin123
Login successful!

In [ ]:
user = "admin"
passw = "password123"

while True:
    n1 = input("Enter username: ")
    n2 = input("Enter password: ")

    if n1 == user and n2 == passw:
        print("Login successful!")
        break
    else:
        print("Incorrect, try again.")

Enter username: admin
Enter password: 2
Incorrect, try again.
Enter username: a
Enter password: w
Incorrect, try again.
Enter username: admin
Enter password: password123
Login successful!

Construct a Python program using conditional statements that classifies a number entered by the user as positive, negative, or zero.
Example Output:
Enter a number: -5
The number is negative.

In [ ]:
num = float(input("Enter a number: "))
if num > 0:
    print("Positive.")
elif num < 0:
    print("Negative.")
else:
    print("Zero.")

Enter a number: -1
Negative.

Develop a Python program that continuously prompts the user for numbers and calculates their sum. The loop should terminate when the sum exceeds 100.
Example Output:
Enter a number: 40
Current sum: 40
Enter a number: 30
Current sum: 70
Enter a number: 35
Current sum: 105
Sum exceeded 100. Loop terminated.

In [ ]:
cs = 0

while True:
    n = float(input("Enter a number: "))
    cs += n
    print(f"Current sum: {cs}")
    if cs > 100:
        print("Sum exceeded 100. Loop terminated.")
        break

Enter a number: 1
Current sum: 1.0

KeyboardInterrupt: Interrupted by user

Create a Python script to display a multiplication table for a number provided by the user, up to 10 multiples.
Example Output:
Enter a number: 6
Multiplication table for 6:
6 x 1 = 6
6 x 2 = 12
...
6 x 10 = 60

In [ ]:
num = int(input("Enter a number: "))
print(f"Table for {num}:")
for i in range(1, 11):
    pro = num * i
    print(f"{num} x {i} = {pro}")

Enter a number: 6
Table for 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Write a Python program to simulate rolling a dice. Allow the user to roll the dice repeatedly and stop the simulation when they type 'stop'.
Example Output:
Type 'roll' to roll the dice or 'stop' to end: roll
You rolled a 4
Type 'roll' to roll the dice or 'stop' to end: roll
You rolled a 6
Type 'roll' to roll the dice or 'stop' to end: stop
Simulation ended.

In [ ]:
import random
print("Dice Rolling Simulation")

while True:
    action = input("Type 'roll' to roll the dice or 'stop' or 'exit' to end: ").lower()

    if action == 'roll':
        roll = random.randint(1, 6)
        print(f"You rolled a {roll}")
    elif action == 'stop' or 'exit':
        print("Simulation ended.")
        break
    else:
        print("Invalid input. Please type 'roll' or 'stop'.")

Dice Rolling Simulation
Type 'roll' to roll the dice or 'stop' to end: exit
Simulation ended.

##Assignment 4

#Assignment on Python Functions

Question 1:
Write a Python function named greet_user that takes a name as an argument and prints a greeting message.
Example Output:
Enter your name: Alice
Hello, Alice! Welcome!

In [ ]:
def greet_user(name):
    print(f"Hello, {name}! Welcome!")
user = input("Enter your name: ")
greet_user(user)

Enter your name: Lord
Hello, Lord! Welcome!

Create a Python function called calculate_area that accepts the radius of a circle and returns the area. Use the value of Ï€ as 3.14159.
Example Output:
Enter radius: 5
Area of circle: 78.53975

In [ ]:
def calculate_area(r):
    pi = 3.14159
    area = pi * (r ** 2)
    return area

r = float(input("Enter r: "))
circle_area = calculate_area(r)
print(f"Area of circle: {circle_area}")

Enter r: 33
Area of circle: 3421.1915099999997

Write a Python function named is_even that takes a number as input and returns True if the number is even, otherwise False.
Example Output:
Enter a number: 4
The number is even: True

In [ ]:
def is_even(n):
    return n % 2 == 0

num = float(input("Enter a n: "))
res = is_even(num)
print(f"The entered number is even: {res}")

Enter a n: 19
The entered number is even: False

Create a Python function find_max that takes a list of numbers as an argument and returns the maximum number in the list.

Example Output:

Numbers: [2, 5, 10, 1, 6]

Maximum number: 10

In [ ]:
def find_max(n):
    max_num = n[0]
    for num in n:
        if num > max_num:
            max_num = num
    return max_num

nums = [2, 5, 10, 1, 6]
print(f"Numbers: {nums}")
print(f"Maximum number: {find_max(nums)}")

Numbers: [2, 5, 10, 1, 6]
Maximum number: 10

Develop a Python function factorial to calculate and return the factorial of a given number.
Example Output:
Enter a number: 5
Factorial: 120

In [ ]:
def factorial(n):
    if n < 0:
        return None
    elif n == 0 or n == 1:
        return 1
    else:
        res = 1
        for i in range(1, n + 1):
            res *= i
        return res

num = int(input("Enter a number: "))
fac = factorial(num)
print(f"Factorial: {fac}")

Enter a number: 5
Factorial: 120

In [ ]:
def reverse_string(input_str):
    return input_str[::-1]

inpt = input("Enter a string: ")
revr = reverse_string(inpt)
print(f"Reversed string: {revr}")

Enter a string: Lord
Reversed string: droL

In [ ]:
def fib(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    else:
        seq = [0, 1]
        while len(seq) < n:
            next_fib = seq[-1] + seq[-2]
            seq.append(next_fib)
        return seq

inpt = int(input("Fibonacci numbers to generate: "))

fib_list = fib(inpt)

print(f"Fibonacci seq: {fib_list}")

Fibonacci numbers to generate: 6
Fibonacci seq: [0, 1, 1, 2, 3, 5]

Create a Python function is_prime that checks if a given number is prime and returns True if it is, otherwise False.
Example Output:
Enter a number: 11
The number is prime: True

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    if num == 2:
        return True
    if num % 2 == 0:
        return False
    i = 3
    while i * i <= num:
        if num % i == 0:
            return False
        i += 2
    return True

inpt = int(input("Enter a number: "))

res = is_prime(inpt)

print(f"The number is prime: {res}")

Enter a number: 11
The number is prime: True

Develop a Python function named count_words that takes a string and returns the number of words in that string.
Example Output:
Enter a sentence: Python is great
Number of words: 3

In [ ]:
def count_words(n):
    words = n.split()
    return len(words)

s = input("Enter a sentence: ")

word_count = count_words(s)

print(f"Number of words: {word_count}")

Enter a sentence: my name is good
Number of words: 4

Question 10:
Write a Python function convert_temperature that converts a given temperature from Celsius to Fahrenheit.
Example Output:
Enter temperature in Celsius: 25
Temperature in Fahrenheit: 77.0

In [ ]:
def convert_temperature(c):
    f = (c * 9/5) + 32
    return f

inpt = float(input("Enter temperature in celsius: "))
oput = convert_temperature(inpt)
print(f"Temperature in f: {oput}")

Enter temperature in celsius: 25
Temperature in f: 77.0

##Assignment 5 : Copying and Comprehension

**Q. 1 Explain the difference between shallow copy and deep copy in Python with examples. Demonstrate how changing the original list affects the copied list in each case.**

**Shallow Copy:**

A shallow copy creates a new compound object (like a list or dictionary) but does **not** create copies of the nested objects within the original object. Instead, it copies the references to the nested objects. This means that if you modify a nested object in the shallow copy, the original object will also be affected, and vice versa.

The `copy()` method from the `copy` module or slicing (`[:]`) can be used to create shallow copies.

In [3]:
import copy
# Example with a list containing nested lists (mutable objects)
original_list = [[1, 2, 3], [4, 5, 6]]
shallow_copied_list = original_list.copy()
print(f"Original list: {original_list}")
print(f"Shallow copied list: {shallow_copied_list}")

# Modify a nested list in the shallow copy
shallow_copied_list[0][0] = 99

print(f"\nAfter modifying shallow copy:")
print(f"Original list: {original_list}")
print(f"Shallow copied list: {shallow_copied_list}")

# Example with a dictionary containing a list
original_dict = {'a': 1, 'b': [2, 3]}
shallow_copied_dict = original_dict.copy()

print(f"\nOriginal dictionary: {original_dict}")
print(f"Shallow copied dictionary: {shallow_copied_dict}")

# Modify the list in the shallow copy
shallow_copied_dict['b'][0] = 88

print(f"\nAfter modifying shallow copy:")
print(f"Original dictionary: {original_dict}")
print(f"Shallow copied dictionary: {shallow_copied_dict}")

Original list: [[1, 2, 3], [4, 5, 6]]
Shallow copied list: [[1, 2, 3], [4, 5, 6]]

After modifying shallow copy:
Original list: [[99, 2, 3], [4, 5, 6]]
Shallow copied list: [[99, 2, 3], [4, 5, 6]]

Original dictionary: {'a': 1, 'b': [2, 3]}
Shallow copied dictionary: {'a': 1, 'b': [2, 3]}

After modifying shallow copy:
Original dictionary: {'a': 1, 'b': [88, 3]}
Shallow copied dictionary: {'a': 1, 'b': [88, 3]}

**Deep Copy:**

A deep copy creates a new compound object and then recursively creates copies of all the nested objects found in the original object. This means that a deep copy is a completely independent copy of the original object, and modifications to the deep copy will **not** affect the original object.

The `deepcopy()` method from the `copy` module is used to create deep copies.

In [2]:
import copy

# Example with a list containing nested lists
original_list = [[1, 2, 3], [4, 5, 6]]
deep_copied_list = copy.deepcopy(original_list)

print(f"Original list: {original_list}")
print(f"Deep copied list: {deep_copied_list}")

# Modify a nested list in the deep copy
deep_copied_list[0][0] = 999

print(f"\nAfter modifying deep copy:")
print(f"Original list: {original_list}")
print(f"Deep copied list: {deep_copied_list}")

# Example with a dictionary containing a list
original_dict = {'a': 1, 'b': [2, 3]}
deep_copied_dict = copy.deepcopy(original_dict)

print(f"\nOriginal dictionary: {original_dict}")
print(f"Deep copied dictionary: {deep_copied_dict}")

# Modify the list in the deep copy
deep_copied_dict['b'][0] = 888

print(f"\nAfter modifying deep copy:")
print(f"Original dictionary: {original_dict}")
print(f"Deep copied dictionary: {deep_copied_dict}")

Original list: [[1, 2, 3], [4, 5, 6]]
Deep copied list: [[1, 2, 3], [4, 5, 6]]

After modifying deep copy:
Original list: [[1, 2, 3], [4, 5, 6]]
Deep copied list: [[999, 2, 3], [4, 5, 6]]

Original dictionary: {'a': 1, 'b': [2, 3]}
Deep copied dictionary: {'a': 1, 'b': [2, 3]}

After modifying deep copy:
Original dictionary: {'a': 1, 'b': [2, 3]}
Deep copied dictionary: {'a': 1, 'b': [888, 3]}

In summary:

*   **Shallow Copy:** Copies the top-level object and references to nested objects. Changes to nested objects affect both the original and the copy.
*   **Deep Copy:** Copies the top-level object and recursively copies all nested objects. Changes to the deep copy do not affect the original.

Choose a shallow copy when you want a new container but shared nested objects. Choose a deep copy when you need a completely independent copy of the object and all its contents.

**Question 2:
Write a Python program demonstrating the use of assignment operator to copy lists and show how changing one list affects the other.
Example Output:
List 1: [10, 20, 30]
List 2 (after copying): [10, 20, 30]
List 1 after modification: [10, 20, 'modified']
List 2 after List 1 modification: [10, 20, 'modified']**

In [4]:
list1 = [10, 20, 30]
print(f"List 1: {list1}")
list2 = list1
print(f"List 2 (after copying): {list2}")

# Modify an element in list1
list1[2] = 'modified'
print(f"List 1 after modification: {list1}")

print(f"List 2 after List 1 modification: {list2}")

List 1: [10, 20, 30]
List 2 (after copying): [10, 20, 30]
List 1 after modification: [10, 20, 'modified']
List 2 after List 1 modification: [10, 20, 'modified']

**Question 3:
Create a Python program to illustrate list comprehension by generating a list of squares of numbers from 1 to 10.
Example Output:
Squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]**

In [5]:
squares = [x**2 for x in range(1, 11)]
print(f"Squares: {squares}")

Squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Question 4:
Write a Python program using dictionary comprehension to create a dictionary that contains numbers (1 to 5) as keys and their cubes as values.
Example Output:
Dictionary of cubes: {1: 1, 2: 8, 3: 27, 4: 64, 5: 125}**

Here is the code to create a dictionary of numbers and their cubes using dictionary comprehension:

In [7]:
cubes_dict = {x: x**3 for x in range(1, 6)}
print(f"Dictionary of cubes: {cubes_dict}")

Dictionary of cubes: {1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

**Demonstrate set comprehension by writing a Python program that generates a set containing only the vowels present in a user-given string.**

In [9]:
user_string = input("Enter a string: ")
vowels = {'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'}
found_vowels = {char for char in user_string if char in vowels}
print(f"Vowels found in the string: {found_vowels}")

Enter a string: niwsha
Vowels found in the string: {'a', 'i'}

**Question 6:
Develop a Python program that uses nested list comprehension to create a multiplication table for numbers 1 through 3.**

In [11]:
multiplication_table = [[i * j for j in range(1, 4)] for i in range(1, 4)]
print(f"Multiplication Table: {multiplication_table}")

Multiplication Table: [[1, 2, 3], [2, 4, 6], [3, 6, 9]]

**Question 7:
Explain and demonstrate generator comprehension by writing a Python program that generates and prints numbers from 1 to 5 using a generator.
Example Output:
Generated numbers:
1
2
3
4
5**

In [23]:
generator = (num for num in range(1, 6))
print("Generated numbers:")
for number in generator:
    print(number)

Generated numbers:
1
2
3
4
5

In [25]:
li = [1, 2, 3, 4, 5, 6]
eve = [num for num in li if num % 2 == 0]
print(f"Original list: {li}")
print(f"Even numbers: {eve}")

Original list: [1, 2, 3, 4, 5, 6]
Even numbers: [2, 4, 6]

In [26]:
# Question 9:
# Create a Python program that uses list comprehension to convert all characters in a string to uppercase.
# Example Output:
# Enter a string: hello world
# Uppercase String: HELLO WORLD

input_string = input("Enter a string: ")
uppercase_chars = [char.upper() for char in input_string]
uppercase_string = "".join(uppercase_chars)
print(f"Uppercase String: {uppercase_string}")

Enter a string: help me
Uppercase String: HELP ME

In [27]:
# Question 10:
# Design a Python program that uses dictionary comprehension to invert keys and values of a given dictionary.
# Example Output:
# Original dictionary: {'a': 1, 'b': 2, 'c': 3}
# Inverted dictionary: {1: 'a', 2: 'b', 3: 'c'}


od = {'a': 1, 'b': 2, 'c': 3}
inv = {value: key for key, value in od.items()}
print(f"Original dictionary: {od}")
print(f"Inverted dictionary: {inv}")

Original dictionary: {'a': 1, 'b': 2, 'c': 3}
Inverted dictionary: {1: 'a', 2: 'b', 3: 'c'}

##Assignment 6

In [30]:
# Question 1:
# Explain with examples how iterators work in Python. Demonstrate creating an iterator from a list and retrieving elements using __next__().
# Example Output:
# Iterator created from list: [1, 2, 3, 4]
# First item: 1
# Second item: 2

ml = [1, 2, 3, 4]
mi = iter(ml)
print(f"Iterator created from list: {ml}")
first_item = mi.__next__()
print(f"First item: {first_item}")
second_item = next(mi)
print(f"Second item: {second_item}")

Iterator created from list: [1, 2, 3, 4]
First item: 1
Second item: 2

In [31]:
# Question 3:
# Develop a Python program using a decorator named uppercase_decorator that converts the return value of a function to uppercase.
# Example Output:
# Original message: hello world
# Uppercase message: HELLO WORLD


def uppercase_decorator(function):
    def wrapper():
        original_result = function()
        uppercase_result = original_result.upper()
        return uppercase_result
    return wrapper
@uppercase_decorator
def say_message():
    return "hello world"
print(f"Original message: {'hello world'}")
print(f"Uppercase message: {say_message()}")

Original message: hello world
Uppercase message: HELLO WORLD

In [32]:
# Question 4:
# Explain the concept of Python decorators. Provide a practical example demonstrating how decorators can modify the behavior of functions.
# Example Output:
# Before decoration: 5
# After decoration (square result): 25


def square_decorator(func):
    def wrapper():
        result = func()
        squared_result = result * result
        return squared_result
    return wrapper
@square_decorator
def get_number():
    return 5
original_result = 5
decorated_result = get_number()
print(f"Before decoration: {original_result}")
print(f"After decoration (square result): {decorated_result}")

Before decoration: 5
After decoration (square result): 25

In [33]:
# Question 5:
# Create a generator expression in Python to generate and print the squares of numbers from 1 to 5.
# Example Output:
# Squares: 1 4 9 16 25

squares = (n*n for n in range(1, 6))
print("Squares:", end=" ")
for square in squares:
    print(square, end=" ")

Squares: 1 4 9 16 25

In [34]:
# Question 6:
# Write a Python generator function named fibonacci_generator to yield Fibonacci numbers up to a specified count provided by the user.
# Example Output:
# Enter count: 7
# Fibonacci sequence: 0 1 1 2 3 5 8


def fibonacci_generator(count):
    a, b = 0, 1
    for _ in range(count):
        yield a
        a, b = b, a + b
def main():
    try:
        user_count = int(input("Enter count: "))
        if user_count < 0:
            print("Please enter a non-negative number.")
            return

        print("Fibonacci sequence:", end=" ")

        fib_gen = fibonacci_generator(user_count)
        for number in fib_gen:
            print(number, end=" ")
        print()
    except ValueError:
        print("Invalid input. Please enter an integer.")
if __name__ == "__main__":
    main()

Enter count: 5
Fibonacci sequence: 0 1 1 2 3

In [35]:
# Question 7:
# Demonstrate how the built-in function iter() and method next() can be used to manually iterate over a tuple containing string values.
# Example Output:
# Tuple: ('apple', 'banana', 'cherry')
# First fruit: apple
# Second fruit: banana

fruits_tuple = ('apple', 'banana', 'cherry')
print(f"Tuple: {fruits_tuple}")
fruits_iterator = iter(fruits_tuple)
first_fruit = next(fruits_iterator)
print(f"First fruit: {first_fruit}")
second_fruit = next(fruits_iterator)
print(f"Second fruit: {second_fruit}")

Tuple: ('apple', 'banana', 'cherry')
First fruit: apple
Second fruit: banana

In [36]:
# Question 8:
# Write a Python decorator log_decorator that prints the name of the function being called and the arguments it was called with.
# Example Output:
# Calling function: add with arguments: (3, 4)
# Result: 7

def log_decorator(func):
    def wrapper(*args, **kwargs):
        print(f"Calling function: {func.__name__} with arguments: {args}")
        result = func(*args, **kwargs)
        print(f"Result: {result}")
        return result
    return wrapper

@log_decorator
def add(a, b):
    return a + b
add(3, 4)

Calling function: add with arguments: (3, 4)
Result: 7

7

In [37]:
# Question 9:
# Explain and demonstrate the use of generator comprehensions by creating a generator comprehension to yield odd numbers between 1 and 10.
# Example Output:
# Odd numbers: 1 3 5 7 9

odd_numbers = (num for num in range(1, 11) if num % 2 != 0)
print("Odd numbers:", end=" ")
for number in odd_numbers:
    print(number, end=" ")
print()

Odd numbers: 1 3 5 7 9

In [38]:
# Question 10:
# Create a decorator named repeat_decorator that repeats the execution of the decorated function three times.
# Example Output:
# Executing...
# Hello
# Hello
# Hello


def repeat_decorator(func):
    def wrapper(*args, **kwargs):
        print("Executing...")
        for _ in range(3):
            func(*args, **kwargs)
    return wrapper

@repeat_decorator
def say_hello():
    print("Hello")
say_hello()

Executing...
Hello
Hello
Hello