<a href="https://colab.research.google.com/github/wtfashwin/Python-/blob/main/Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Comprehension

writing the code in a compact way in a line

##List Comprehension

In [ ]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = []
for i in l1:
  if i % 2 == 0:
    l2.append(i)

In [ ]:
print(l2)

[2, 4, 6, 8, 10]

syntax

new_list = [output_expression for var in input_list if (var satisfy condition)]

In [ ]:
new_list = [i for i in l1 if i%2==0]
print(new_list)

[2, 4, 6, 8, 10]

In [ ]:
new_list2 = ['Its a Even number' if i%2==0 else 'Odd number' for i in l1]
print(new_list2)

['Odd number', 'Its a Even number', 'Odd number', 'Its a Even number', 'Odd number', 'Its a Even number', 'Odd number', 'Its a Even number', 'Odd number', 'Its a Even number']

##String Comprehension

In [ ]:
fruits = ['Apple', 'Cherry', 'Banana', 'Mango']
nl = [i for i in fruits]
print(nl)

['Apple', 'Cherry', 'Banana', 'Mango']

In [ ]:
la = [i for i in fruits if 'r' in i]
print(la)

['Cherry']

In [ ]:
lb = ['Yes' if 'a' in i else 'No' for i in fruits]
print(lb)

['No', 'No', 'Yes', 'Yes']

In [ ]:
a = 'DataEVFUuaeiScience'
vow = [v for v in a if v in 'aeiouAEIOU']
print(vow)

['a', 'a', 'E', 'U', 'u', 'a', 'e', 'i', 'i', 'e', 'e']

##Dictionary Comprehension
  consise way to print iterable data
  works with keys and values

In [ ]:
d1 = {'A':1, 'B':2, 'C':3, 'D':4}
for i in d1:
  print(i)

A
B
C
D

In [ ]:
for i in d1:
  print(d1[i])

1
2
3
4

Syntax

Output_Dictionary = {key:value for (key, value) in input_dictionary if (key, value satisfy the condition )}

In [ ]:
ld1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
d2 = {}
for i in ld1:
  if i%2==0:
    d2[i]=i**3

In [ ]:
ld1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
d2 = {i: i**3 for i in ld1 if i % 2 ==0}
print(d2)

{2: 8, 4: 64, 6: 216, 8: 512, 10: 1000}

In [ ]:
#Converting a list to dictionary
ld1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
d3 = {}

for i in ld1:
  if i%2!=0:
    d3[i]=i**3

In [ ]:
print(d3)

{1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

In [ ]:
fruits = ['Apple', 'Banana', 'Cherry', 'Date', 'Elderberry']
count = [3, 5, 1, 8, 9]
od = {}
#jisse pata chale loop kitni baar elements fetch karna hai
l = len(fruits)
for i in range(l):
  od[fruits[i]]=count[i]
print(od)

{'Apple': 3, 'Banana': 5, 'Cherry': 1, 'Date': 8, 'Elderberry': 9}

In [ ]:
od = {fruits:count for fruits, count in zip(fruits,count)}
print(od)

{'Apple': 3, 'Banana': 5, 'Cherry': 1, 'Date': 8, 'Elderberry': 9}

In [ ]:
name = ['A', 'B', 'C', 'D']
age = [20, 21, 22, 23]

count = {}

l = len(name)
for i in range(l):
  count[name[i]]=age[i]
print(count)

{'A': 20, 'B': 21, 'C': 22, 'D': 23}

In [ ]:
nage = {n: a for n, a in zip(name, age)}
#.zip pairs the element from one list to another list
print(nage)

{'A': 20, 'B': 21, 'C': 22, 'D': 23}

#Set Comprehension

More similar to list comprehension

In [ ]:
input_list = [1,2,4,5,6,7,8,9,32,12,54]
ol = {i for i in input_listne if i%2!=0}
print(type(ol))

<class 'set'>

#Tuple Comprehension

In [ ]:
input_list = [1,2,4,5,6,7,8,9,32,12,54]
ogenerator = (i for i in input_list if i%2==0)
print(ogenerator)

<generator object <genexpr> at 0x7fe3f3f8dcb0>

In [ ]:
next(ogenerator)

4

### Tasks to Perform

To create a new list with comprehension i%3 == 0

In [ ]:
nl = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nl1 = [i for i in input_list if i % 3 == 0]
print(nl1)

[6, 9, 12, 54]

Create list and when number in list is 5 > n type yes , else no by comprehension

In [ ]:
res = ['yes' if i > 5 else 'no' for i in nl]
print(res)

['no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes']

Task 3 : Make list languages and version convert into dict with comprehension

In [ ]:
l = ['Python', 'Golang', 'Elixer', 'Perl']
v = [3.13 , 1.22, 1.17, 5.40]

lv1 = {}
nl = len(l)
for i in range(nl):
  lv1[l[i]] = v[i]
print(lv1)

lv2 = {x: y for x, y in zip(l, v)}
print(lv2)

lv3 = {}
for x, y in zip(l, v):
  lv3[x] = y
print(lv3)

{'Python': 3.13, 'Golang': 1.22, 'Elixer': 1.17, 'Perl': 5.4}
{'Python': 3.13, 'Golang': 1.22, 'Elixer': 1.17, 'Perl': 5.4}
{'Python': 3.13, 'Golang': 1.22, 'Elixer': 1.17, 'Perl': 5.4}

#Copy

In [5]:
a = 10
b = a
print(a)
print(b)

10
10

In [6]:
print(id(a))
print(id(b))

10758024
10758024

##Shallow Copy

- generates a copy of outer list
- nested list - list inside list
- does not make copy of nested list

In [16]:
a = [[[1,2,3,4]]]

l1 = [1,2,3,4,5]
l2 = l1.copy()
print(l2)
print(id(l1))
print(id(l2))

[1, 2, 3, 4, 5]
138668579820352
138668581219840

In [19]:
ln1 = [[1,2,3], 55, [5,6,7,8]]
ln1[0][0]
ln1[2][1]

6

In [26]:
import copy
ln1 = [[1,2,3], [4,5,6], [7,8,9]]
ln2 = copy.copy(ln1)
ln2
print(id(ln1))
print(id(ln2))

138668580943936
138668581211264

In [30]:
print(id((ln1[0][0])))
print(id((ln2[0][0])))

10757736
10757736

In [31]:
ln1.append(30)
print(ln1)
print(ln2)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], 30]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [32]:
ln1[0][1] = 200
print(ln1)
print(ln2)

[[1, 200, 3], [4, 5, 6], [7, 8, 9], 30]
[[1, 200, 3], [4, 5, 6], [7, 8, 9]]

In [39]:
# list banani hai, copy banani hai , using copy,
# after using this print this, check memory address, after that
# l1, l2 me ek isme outer list me variable add karna hai fir nested list me
# changes karke dekhne hai fir usko print karna hai

import copy
ln1 = [[1, 200, 3], [4, 5, 6], [7, 8, 9], 30]
ln2 = copy.copy(ln1)
ln1.insert(0, 13)

print(f"list 1: {ln1}")
print(f"list 2: {ln2}")
print(id(ln1))
print(id(ln2))

ln1[1].insert(1, 19)

print(f"list 1: {ln1}")
print(f"list 2: {ln2}")

list 1: [13, [1, 200, 3], [4, 5, 6], [7, 8, 9], 30]
list 2: [[1, 200, 3], [4, 5, 6], [7, 8, 9], 30]
138668579830912
138668579971712
list 1: [13, [1, 19, 200, 3], [4, 5, 6], [7, 8, 9], 30]
list 2: [[1, 19, 200, 3], [4, 5, 6], [7, 8, 9], 30]

## Deep Copy
- creates a copy of same object which is totally different that the original one

- A deep copy creates a new compound object and then, recursively, inserts copies into it of the objects found in the original. This means it creates a completely independent clone of the original object, including all its nested elements.

- When to use it:

    When you need a completely independent copy of an object, where changes to the copy should not affect the original, and vice versa.

    This is especially important for complex data structures with multiple levels of mutable nested objects.

In [41]:
l1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
l2 = copy.deepcopy(l1)
print(l1)
print(l2)
print(id(l1))
print(id(l2))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
138668578296512
138668578306752

In [45]:
a = l1[0][1]
print(a)
print(id(l1[0][1]))

2
10757768

#Memory Management In Python!

- How?
  --

## Memory Management in Python

### What?

Memory management in Python is the process by which the Python interpreter allocates and deallocates memory for objects. When you create an object in Python (like a variable, list, or function), the interpreter needs to find space in memory to store it. When the object is no longer needed, the memory it occupies should be freed up so it can be used by other parts of the program.

### How does Python manage Memory?

Python's memory management has two main components:

1.  **Heap Allocation:** When you create an object, Python allocates memory for it on the heap. The heap is a portion of memory where objects are stored.

2.  **Automatic Garbage Collection:** Python uses a system called automatic garbage collection to reclaim memory that is no longer being used. The primary mechanism for this is **reference counting**.

    *   **Reference Counting:** Each object in Python has a reference count, which is the number of variables or other objects that are currently pointing to it. When the reference count of an object drops to zero, it means there are no longer any references to it, and the object is considered "garbage". Python's garbage collector then automatically deallocates the memory occupied by that object.

    *   **Cycle Detection:** Reference counting alone cannot handle situations where objects refer to each other in a cycle, preventing their reference counts from ever reaching zero even if they are no longer accessible from the rest of the program. Python's garbage collector also includes a cycle detection algorithm to identify and collect such circular references.

Private heap