<a href="https://colab.research.google.com/github/wtfashwin/Python-/blob/main/Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Function
we can give and return input in it

write once, use multiple times

def function_name():

identifiers should be followed while naming function

call a function using its name & ()

return gives the output

In [1]:
def my_func():
  print('Hello')

In [2]:
my_func()

Hello

In [6]:
def sumi():
  a = 10
  b = 20
  return(a+b)

In [7]:
sumi()

30

In [8]:
def sum(a,b): # a, and b are called as positional arguments
  return(a+b)

In [9]:
def greet(name):
  print('Good', name, '!')

In [11]:
greet('ashwin')

Good ashwin !

In [15]:
#function to calculate area of rectangle

def calculate_rect(l, w):
  area = l * w
  return(area)

a = calculate_rect(2,4)
print(a)

8

In [16]:
s = 'I am learning Python!'

#variables have some types, that is called as scope of variable,

# global , local

# If the var is declared outside its known as global variables

# while the one whom we deliver inside that particular class, function is called
# local variable.

In [35]:
def javat():
  global s
  s = 'I am learning Java'
  print(s)
s

'I am learning Java'

In [43]:
def info(name, age):
  print('My name is', name, 'and my age is', age * 365, 'days old')

In [44]:
info('Ashwin', 21)

My name is Ashwin and my age is 7665 days old

#Types of arguments in Python

1. Positional : by default all the args are positional

2. Keyword : we assign the value explicitally
  
3. Default

4. Variable Length (arbitary length)

In [46]:
#keyword args
# here i defined the name ,
info(name='Lord', age=22)

My name is Lord and my age is 8030 days old

In [48]:
#default argument

# we'd assign a value to the function itself, so we only need name , and func
# would automatically take that assigned

def info(name, age=21):
  print('My name is', name, 'and my age is', age * 365, 'days old')

In [52]:
#variable length, * symbol gives all values
# jab pata nahi hai kitne arg req hai tab we'd use them

def my_func(*args):
  print(args)
my_func(1,2,3,4,5,6,7,8,9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [60]:
#Task - farhenehiet - celsius convert

def farhen(cel):
  far = (cel * 9/5) + 32
  return(far)
farhen(21)

69.8

In [66]:
#even odd

def even_odd():
  n = int(input("Enter an integer: "))
  if n % 2 == 0:
    print(f"{n} is even number.")
  else:
    print(f"{n} is odd number.")

even_odd()

Enter an integer: 2
2 is even number.