<a href="https://colab.research.google.com/github/wtfashwin/Python-/blob/main/Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Function
we can give and return input in it

write once, use multiple times

def function_name():

identifiers should be followed while naming function

call a function using its name & ()

return gives the output

In [ ]:
def my_func():
  print('Hello')

In [ ]:
my_func()

Hello

In [ ]:
def sumi():
  a = 10
  b = 20
  return(a+b)

In [ ]:
sumi()

30

In [ ]:
def sum(a,b): # a, and b are called as positional arguments
  return(a+b)

In [ ]:
def greet(name):
  print('Good', name, '!')

In [ ]:
greet('ashwin')

Good ashwin !

In [ ]:
#function to calculate area of rectangle

def calculate_rect(l, w):
  area = l * w
  return(area)

a = calculate_rect(2,4)
print(a)

8

In [ ]:
s = 'I am learning Python!'

#variables have some types, that is called as scope of variable,

# global , local

# If the var is declared outside its known as global variables

# while the one whom we deliver inside that particular class, function is called
# local variable.

In [ ]:
def javat():
  global s
  s = 'I am learning Java'
  print(s)
s

'I am learning Java'

In [ ]:
def info(name, age):
  print('My name is', name, 'and my age is', age * 365, 'days old')

In [ ]:
info('Ashwin', 21)

My name is Ashwin and my age is 7665 days old

#Types of arguments in Python

1. Positional : by default all the args are positional

2. Keyword : we assign the value explicitally
  
3. Default

4. Variable Length (arbitary length)

In [ ]:
#keyword args
# here i defined the name ,
info(name='Lord', age=22)

My name is Lord and my age is 8030 days old

In [ ]:
#default argument

# we'd assign a value to the function itself, so we only need name , and func
# would automatically take that assigned

def info(name, age=21):
  print('My name is', name, 'and my age is', age * 365, 'days old')

In [ ]:
#variable length, * symbol gives all values
# jab pata nahi hai kitne arg req hai tab we'd use them

def my_func(*args):
  print(args)
my_func(1,2,3,4,5,6,7,8,9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
#Task - farhenehiet - celsius convert

def farhen(cel):
  far = (cel * 9/5) + 32
  return(far)
farhen(21)

69.8

In [ ]:
#even odd

def even_odd():
  n = int(input("Enter an integer: "))
  if n % 2 == 0:
    print(f"{n} is even number.")
  else:
    print(f"{n} is odd number.")

even_odd()

Enter an integer: 2
2 is even number.

#Types of functions

1. Built in

  print , len, max, type , input, zip, abs

2. user defined - defined by user

3. recursive
4. lambda

In [ ]:
#abs funct - gives absolute value,

print(abs(-5))


#id function - returns the address

a = 3
id(a)

5

10757800

In [ ]:
#Recursive funct
#the function which calls itself, within its body


def add(a,b):
  print('Add of a and b is:', a+b)

def sub(a,b):
  print('Sub of a and b is:', a-b)

def calc():
  add(3,5)
  sub(4,2)

In [ ]:
calc()

Add of a and b is: 8
Sub of a and b is: 2

In [ ]:
# def recurse():
#   recurse()
# recurse()

In [ ]:
def fact(x):
  if x == 1:
    return 1
  else:
    return (x * fact(x-1))

In [ ]:
fact(4)

24

In [ ]:
def factorial(n):
  if n == 1:
    return 1
  else:
    return n * factorial(n-1)

In [ ]:
# task - recursion using for loop

f = 1
n = int(input("Enter a num: "))
for i in range(1, n + 1):
  f = f * i
print(f"The factorial is:", f)

Enter a num: 5
The factorial is: 120

In [ ]:
# task - recursion using while loop

f = 1
n = int(input("Enter a num: "))
i = 1
while i <= n:
    f = f * i
    i = i + 1
print("The factorial is:", f)

Enter a num: 5
The factorial is: 120

In [ ]:
#Lambda funct:

#we use it to get double values

def double(x):
  x = x * 2
  return x
double(2)

4

In [ ]:
# Can write a code within a single line
# syntax of lambda func

# lambda args: function_statement

d = lambda x:x*2
d(2)

4

In [ ]:
sq = lambda x: x**2
sq(4)

16

In [ ]:
ad = lambda a,b:a+b
ad(5, 6)

11

In [ ]:
#Syntax

# lambda <args>:<return value if condition is true> <if condition> else <return val of else>

In [ ]:
a = lambda a, b: a if a> b else b
a(4,6)

6

In [ ]:
# can use any function as an argument

# display(show) -- we're returning show

def display(a):
  return a()

def show():
  return('This is my show function')

display(show)

'This is my show function'

In [ ]:
def add(x,y):
  return x+y

def apply(a,b,c):
  return a(b,c)

apply(add, 1,2)

3

In [ ]:
#task -- to find the max of all three val

def maxval(n1, n2 , n3):
  if n1 >= n2 and n1 >= n3:
    return n1
  elif n2 >= n1 and n2 >= n3:
    return n2
  else:
    return n3

n1 = int(input("Enter first number: "))
n2 = int(input("Enter second number: "))
n3 = int(input("Enter third number: "))

res = maxval(n1,n2,n3)
print(res)

Enter first number: 5
Enter second number: 3
Enter third number: 12
12

In [ ]:
f = 1
n = int(input("Enter a num: "))
for i in range(1, n + 1):
  f = f * i
print(f"The factorial is:", f)

Enter a num: 5
The factorial is: 120

In [ ]:
f = 1
n = int(input("Enter a num: "))
i = 1
while i <= n:
    f = f * i
    i = i + 1
print("The factorial is:", f)

Enter a num: 3
The factorial is: 6