<a href="https://colab.research.google.com/github/wtfashwin/Python-/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Series :

A pandas series is a 1D arrays that can hold any type of data internally

labelled array

In [2]:
import pandas as pd
#pd.Series : S always capital
s1 = pd.Series([1,2,3,4,5])
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#dictionary to series

#we can change index names
data = {'A':1 , 'B':2 , 'C':3, 'D':4}
s2 = pd.Series(data)
print(s2)

A    1
B    2
C    3
D    4
dtype: int64

In [ ]:
#Accessing data from series

print(s1[0])
print(s2['A']) #A coz A is index of s2
print(s1[1:5])
print(s2['A':'D'])

1
1
1    2
2    3
3    4
4    5
dtype: int64
A    1
B    2
C    3
D    4
dtype: int64

In [ ]:
s3 = s1 + s2
print(s3)
# NaN coz datatype is not same, hence not possible

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
A   NaN
B   NaN
C   NaN
D   NaN
dtype: float64

In [ ]:
s4 = pd.Series([1,4,6,7,8])
print(s4)

0    1
1    4
2    6
3    7
4    8
dtype: int64

In [ ]:
s3 = s1 + s4
print(s3)

0     2
1     6
2     9
3    11
4    13
dtype: int64

In [ ]:
s5 = s3 * 2
s5

0     4
1    12
2    18
3    22
4    26
dtype: int64

In [ ]:
#functions

s6 = s3.apply(lambda x: x*2)
print(s6)

0     4
1    12
2    18
3    22
4    26
dtype: int64

In [ ]:
mean1 = s3.mean()
print(mean1)

8.2

In [ ]:
s = pd.Series([1,2,3,None,6,7,8,9])
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    7.0
6    8.0
7    9.0
dtype: float64

In [ ]:
print(s.isnull())

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
dtype: bool

In [ ]:
print(s.isnull().sum())

1

In [ ]:
sdr = s.dropna()
print(sdr)

0    1.0
1    2.0
2    3.0
4    6.0
5    7.0
6    8.0
7    9.0
dtype: float64

In [ ]:
# syntax is s.fillna(value to be used ,
# below I used 0 but can be used with other as well)

sfr = s.fillna(0)
print(sfr)

0    1.0
1    2.0
2    3.0
3    0.0
4    6.0
5    7.0
6    8.0
7    9.0
dtype: float64

tip to keep a backup of the original data

In [ ]:
#create a series from dict
# mean of series
# rep null with mean

data1 = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': None, 'F': 6, 'G': None}
a = pd.Series(data1)

mean2 = a.mean()
arep = a.fillna(mean2)
print(arep)

A    1.0
B    2.0
C    3.0
D    4.0
E    3.2
F    6.0
G    3.2
dtype: float64

##DataFrame

we mostly prefer dict for it

In [ ]:
data = {'Name':['A', 'B', 'C', 'D', 'E', 'F'],
        'Age':[21,22,34,43,12,19]}
df = pd.DataFrame(data)
print(df)

  Name  Age
0    A   21
1    B   22
2    C   34
3    D   43
4    E   12
5    F   19

In [ ]:
#shows top 5 rows, if we input
df.head()

  Name  Age
0    A   21
1    B   22
2    C   34
3    D   43
4    E   12

In [ ]:
#last 5 rows of data , same as head
df.tail()

  Name  Age
1    B   22
2    C   34
3    D   43
4    E   12
5    F   19

In [ ]:
print(df['Name'])
print(df['Age'])

print(df[['Age','Name']])

0    A
1    B
2    C
3    D
4    E
5    F
Name: Name, dtype: object
0    21
1    22
2    34
3    43
4    12
5    19
Name: Age, dtype: int64
   Age Name
0   21    A
1   22    B
2   34    C
3   43    D
4   12    E
5   19    F

In [ ]:
#loc always works in labels
#iloc works on index
#loc = [labels]
#iloc = [index]

#Loc

df.loc[row_label, column_label]

In [ ]:
print(df.loc[1])

Name     B
Age     22
Name: 1, dtype: object

In [ ]:
print(df.loc[0,'Name'])

A

In [ ]:
print(df.loc[[0,1,2,3], ['Name', 'Age']])

  Name  Age
0    A   21
1    B   22
2    C   34
3    D   43

#iloc

df.iloc[row index, column index]

prints from -1

In [ ]:
# iloc works on index
# df.iloc[row_index, column_index]
print(df.iloc[0, 0])

A

In [3]:
data = {'Name':['Alice', 'David', 'Grace', 'Tim', 'Ross'],
        'Age':[21,22,23,24,25],
        'City':['NYC', 'LA', 'Seatle', 'Chicago', 'New York']
        }
df = pd.DataFrame(data, index = ['a', 'b', 'c', 'd', 'e'])
print(df)

    Name  Age      City
a  Alice   21       NYC
b  David   22        LA
c  Grace   23    Seatle
d    Tim   24   Chicago
e   Ross   25  New York

In [4]:
print(df.loc['a', 'Name'])#works on label

Alice

In [5]:
print(df.iloc[0,0]) # works on index

Alice

In [7]:
print(df.iloc[[1,2,3,4],0])

b    David
c    Grace
d      Tim
e     Ross
Name: Name, dtype: object

In [8]:
print(df.iloc[1,[1,2]])

Age     22
City    LA
Name: b, dtype: object

In [9]:
print(df.loc['a':'d', 'Name'])

a    Alice
b    David
c    Grace
d      Tim
Name: Name, dtype: object

In [10]:
print(df.iloc[0:3, [0,1]])

    Name  Age
a  Alice   21
b  David   22
c  Grace   23

In [11]:
print(df.loc[:, 'Name':'City'])

    Name  Age      City
a  Alice   21       NYC
b  David   22        LA
c  Grace   23    Seatle
d    Tim   24   Chicago
e   Ross   25  New York

In [12]:
print(df.iloc[[1,2,3,4], 0])

b    David
c    Grace
d      Tim
e     Ross
Name: Name, dtype: object

In [14]:
print(df[df['Age']> 22 ])

    Name  Age      City
c  Grace   23    Seatle
d    Tim   24   Chicago
e   Ross   25  New York

In [16]:
print(df.loc[df['Age']> 22, 'Name'])

c    Grace
d      Tim
e     Ross
Name: Name, dtype: object

In [19]:
print(df.iloc[(df['Age']>22).values, 0])

c    Grace
d      Tim
e     Ross
Name: Name, dtype: object

###Adding new column

In [20]:
print(df)

    Name  Age      City
a  Alice   21       NYC
b  David   22        LA
c  Grace   23    Seatle
d    Tim   24   Chicago
e   Ross   25  New York

In [21]:
df['Gender'] = ['M', 'M' ,'F', 'M', 'F']
print(df)

    Name  Age      City Gender
a  Alice   21       NYC      M
b  David   22        LA      M
c  Grace   23    Seatle      F
d    Tim   24   Chicago      M
e   Ross   25  New York      F

### Rename

In [23]:
print(df.rename(columns={'Age':'Years'}, inplace=True))

None

In [24]:
print(df)

    Name  Years      City Gender
a  Alice     21       NYC      M
b  David     22        LA      M
c  Grace     23    Seatle      F
d    Tim     24   Chicago      M
e   Ross     25  New York      F

### Drop a column

In [26]:
print(df.drop(columns=['City'], inplace=True))

None

In [27]:
print(df)

    Name  Years Gender
a  Alice     21      M
b  David     22      M
c  Grace     23      F
d    Tim     24      M
e   Ross     25      F

In [28]:
import pandas as pd

data = {
    'Name': ['Alice', 'David', 'Grace', 'Tim', 'Ross', 'Emma', 'John', 'Sarah', 'Mark'],
    'Age': [21, 22, 23, 24, 25, 26, 27, 28, 29],
    'City': ['NYC', 'LA', 'Seattle', 'Chicago', 'New York', 'Boston', 'Miami', 'London', 'Paris']
}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

print("\nFirst 5 rows:")
print(df.head())

print("\nLast 5 rows:")
print(df.tail())

print("\nName column for the first 5 rows using iloc:")
print(df.iloc[0:5]['Name'])

df_renamed = df.rename(columns={'City': 'Grade'})
print("\nDataFrame after renaming 'City' to 'Grade':")
print(df_renamed)

df['Class'] = 'Data Science'
print("\nDataFrame after adding a new 'Class' column:")
print(df)

df_dropped = df.drop(columns=['City'])
print("\nDataFrame after removing the 'City' column:")
print(df_dropped)

Original DataFrame:
    Name  Age      City
0  Alice   21       NYC
1  David   22        LA
2  Grace   23   Seattle
3    Tim   24   Chicago
4   Ross   25  New York
5   Emma   26    Boston
6   John   27     Miami
7  Sarah   28    London
8   Mark   29     Paris

First 5 rows:
    Name  Age      City
0  Alice   21       NYC
1  David   22        LA
2  Grace   23   Seattle
3    Tim   24   Chicago
4   Ross   25  New York

Last 5 rows:
    Name  Age      City
4   Ross   25  New York
5   Emma   26    Boston
6   John   27     Miami
7  Sarah   28    London
8   Mark   29     Paris

Name column for the first 5 rows using iloc:
0    Alice
1    David
2    Grace
3      Tim
4     Ross
Name: Name, dtype: object

DataFrame after renaming 'City' to 'Grade':
    Name  Age     Grade
0  Alice   21       NYC
1  David   22        LA
2  Grace   23   Seattle
3    Tim   24   Chicago
4   Ross   25  New York
5   Emma   26    Boston
6   John   27     Miami
7  Sarah   28    London
8   Mark   29     Paris

DataFrame after adding a new 'Class' column:
    Name  Age      City         Class
0  Alice   21       NYC  Data Science
1  David   22        LA  Data Science
2  Grace   23   Seattle  Data Science
3    Tim   24   Chicago  Data Science
4   Ross   25  New York  Data Science
5   Emma   26    Boston  Data Science
6   John   27     Miami  Data Science
7  Sarah   28    London  Data Science
8   Mark   29     Paris  Data Science

DataFrame after removing the 'City' column:
    Name  Age         Class
0  Alice   21  Data Science
1  David   22  Data Science
2  Grace   23  Data Science
3    Tim   24  Data Science
4   Ross   25  Data Science
5   Emma   26  Data Science
6   John   27  Data Science
7  Sarah   28  Data Science
8   Mark   29  Data Science